of the property referenced between the brackets.

<link rel="import"
      href="bower_components/polymer/polymer.html">

<dom-module id="name-tag">

    <template>
        <!-- bind to the "owner" property -->
        This is <b>{{owner}}</b>'s name-tag element.
    </template>

    <script>
        Polymer({
            is: "name-tag",
            ready: function() {
                // set this element's owner property
                this.owner = "Daniel";
            }
        });
    </script>

</dom-module>